
	<div class="container-fluid d-flex align-items-center justify-content-center vh-100">
		<div class="col-lg-4"></div>
		<div class="col-lg-4">
			{{ page.content }}
		</div>
		<div class="col-lg-4"></div>
	</div>

